<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moumita.caloriecountergeb">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW " />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="activities.HomeTabActivity" />
        <activity android:name="userinfo.UserGenderInfoActivity" />
        <activity android:name="generalpersonactivities.BMICalculationActivity" />
        <activity android:name="userinfo.UserHeightInfoActivity" />
        <activity android:name="userinfo.UserAgeInfoActivity" />
        <activity android:name="userinfo.UserWeightInfoActivity" />
        <activity android:name="userinfo.UserSignInActivity" />
        <activity android:name="userinfo.RegisteredPersonDataActivity" />
        <activity android:name="addfood.CategoryListActivity" />
        <activity android:name="addfood.FoodListActivity" />
        <activity android:name="generalpersonactivities.ShowBMRActivity" />
        <activity android:name="addfood.AddFoodActivity" />
        <activity android:name="addfood.RecentListActivity" />
        <activity android:name="addfood.FrequentListActivity" />
        <activity android:name="piechart.PieChartActivity" />
        <activity android:name="addfood.AddFoodToDiaryActivity" />
        <activity android:name="piechart.ChartTestActivity" />
        <activity android:name="piechart.PiePolylineChartActivity" />
        <activity android:name=".ListViewBarChartActivity" />
        <activity android:name=".GroupBarChart"></activity>
        <activity android:name="notifications.TestActivity" />
        <activity android:name="notifications.ChatActivity"></activity>
    </application>

</manifest>